"*":
  "activate-power-mode":
    plugins:
      playAudio: true
      screenShake: true
  "atom-ternjs":
    snippetsFirst: true
    useSnippets: true
  "autocomplete-js-import":
    fuzzy: {}
    removeExtensions: [
      ".js"
      ".jsx"
    ]
  core:
    customFileTypes:
      source: [
        "[object Object]"
      ]
      "source.js": [
        "jsx"
      ]
      "source.js.jsx": [
        "jsx"
      ]
      text: [
        "[object Object]"
      ]
    disabledPackages: [
      "language-gfm"
      "atom-ternjs"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "oceanic-next"
    ]
    titleBar: "hidden"
  docblockr:
    align_tags: "no"
    auto_add_method_tag: false
    lower_case_primitives: true
    short_primitives: true
    spacer_between_sections: "after_description"
  editor:
    fontFamily: "Input"
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
  emmet: {}
  "exception-reporting":
    userId: "896faa42-5a2b-af51-939c-45433d6658e2"
  "fuzzy-finder": {}
  "highlight-selected": {}
  "language-babel":
    transpileOnSave: false
  "language-elm":
    autocompleteEnabled: false
  linter:
    lintOnChange: false
  "linter-eslint": {}
  "linter-sass-lint":
    noConfigDisable: true
    resolvePathsRelativeToConfig: true
  "linter-ui-default":
    panelHeight: 69
    showPanel: true
  "markdown-preview":
    openPreviewInSplitPane: false
  minimap: {}
  "one-dark-ui": {}
  pigments:
    markerType: "native-dot"
  "prettier-atom":
    formatOnSaveOptions: {}
    prettierOptions:
      singleQuote: true
      trailingComma: "all"
  "relative-numbers":
    softWrapsCount: false
  "tabs-to-spaces": {}
  tasks: {}
  "tree-view":
    hideIgnoredNames: true
  "vim-mode": {}
  "vim-mode-plus":
    charactersToAddSpaceOnSurround: [
      "("
      "{"
      "["
    ]
    ignoreCaseForSearch: true
    useClipboardAsDefaultRegister: false
  welcome:
    showOnStartup: false
  whitespace: {}
